.contact {
  position: relative;
  background-color: #f67e7e;
}
.contact::after {
  position: absolute;
  bottom: -122px;
  left: 0;
  background-image: url("./../../imges/contactshape.svg");
  background-repeat: no-repeat;
  background-size: 200px 244px;
  width: 200px;
  height: 244px;
  content: "";
}
.contact__wrapper {
  padding-top: 83px;
  padding-bottom: 83px;
}
.contact__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #012f34;  
}
.contact__link {
  display: block;
  width: 156px;
  margin: 0 auto;
  padding: 10px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  text-align: center;
  color: #012f34;
  border: 2px solid #012f34;
  border-radius: 24px;
}

@media only screen and (min-width:750px) {
  
  .contact__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 76px;
    padding-bottom: 76px;
  }
  .contact__heading {
    margin-bottom: 0;
    margin-right: 84px;
  }
  .contact__link {
    display: inline-block;
    margin: 0;
  }
}
@media only screen and (min-width:1150px) {

  .contact__heading {
    margin-right: 260px;
    font-size: 48px;
    line-height: 48px;
  }
}